h1 {
  font-family: 'Timmana', sans-serif;
  text-align: center;
}

#subtitle {
  font-size: 40px;
  font-family: 'Timmana', sans-serif;
  text-align: center;
}

.card {
  margin: 40px;
  padding: 5%;
}

label{
  text-align: center;
}

input {
  margin: 0 auto; 
}

#title{
  font-size: 80px;
}

/* .connect {
  text-align: center;
} */

body {
  margin: 50px;
}

#inputCard {
  display: none;
}

#graphCard {
  display: none;
}


/* GRAPH */

.error {
  color: #FF0000;
}
.graphBorder {
  border:3px solid black;
}
.graphInline {
  display:inline-block;
}
.spacingSeparator {
  width:20px;
}

.canvasDiv {
  width: 300px;
  height: 300px;
}

canvas {
  width: 300;
  height: 300;
}

.graphCanvas {
  display:block;
  width:300px;
  height:300px;
}