h1 {
  font-family: 'Timmana', sans-serif;
  text-align: center;
}

#subtitle {
  font-size: 40px;
  font-family: 'Timmana', sans-serif;
  text-align: center;
}

.card {
  margin: 40px;
  padding: 5%;
}

label{
  text-align: center;
}

input {
  margin: 0 auto; 
}

#title{
  font-size: 80px;
}

.connect {
  text-align: center;
}

body {
  margin: 50px;
}

#inputCard {
  display: none;
}

#graphCard {
  display: none;
}

#averageOption {
  display: none;
}

/* GRAPH */

.error {
  color: #FF0000;
}
.graphBorder {
  border:3px solid black;
}
.graphInline {
  display:inline-block;
}
.spacingSeparator {
  width:20px;
}

.canvasDiv {
  width: 300px;
  height: 300px;
}

canvas {
  width: 400;
  height: 400;
}


.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Input field alignment */
/* .column_center {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 20px;  
  color: white;
  
}

input.left {
  width: 260px;
  height: 50px;
  margin: 0 50px 0 0;
  padding: 0px;
}

input.right {
  width: 260px;
  height: 50px;
  padding: 0px;
}

.formtext_left{
	color: #444;
	font-size: 12px;
	text-align: left;
	width: 260px;
	margin: 0 50px 10px 0;
	display: inline-block;
	
}

.formtext_right{
	color: #444;
	font-size: 12px;
	text-align: left;
	width: 260px;
	margin: 0 0 10px 0;
	display: inline-block;
	
} */